@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.signup-page {
  background-color: #ffffff; /*Change later*/
  width: 100%;
  height: 92vh;
}

.page-title {
  text-align: center;
}

.signup-group {
  margin: 2%;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

.form-container {
  /* position: absolute; */
  /* top: 0; */
  height: 100%;
}

.sign-in-container {
  left: 0;
  width: 100%;
  z-index: 2;
}

.login-page {
  align-items: center;
}

input {
  width: 125% !important;
}

form {
  /* background-color: #FFFFFF; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 50px;
  height: 50%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.overlay-container {
  /* position: absolute; */
  /* top: 0; */
  /* left: 50%; */
  /* width: 100%; */
  height: 95vh;
  /* overflow: hidden; */
  z-index: 100;
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  background-position: right;
}

.overlay-panel {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  /* transform: translateX(0); */
}

.overlay-right {
  right: 0 !important;
  transform: translateX(0);
}

/* .container {
	background-color: #fff;
	border-radius: 15px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: fixed;
	overflow: hidden;
	width: 768px;
	max-width: 200%;
	min-height: 700px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
} */
