@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.login-page {
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 92vh;
}

.login-input {
  width: 400px !important;
  margin-top: 4%;
  margin-bottom: 4%;
}

.login-form {
  /* background-color: #FFFFFF; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 50px;
  height: 50%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  background-position: right;
}

.overlay-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 0 40px; */
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  /* transform: translateX(0); */
}

.overlay-right {
  right: 0 !important;
  transform: translateX(0);
}

.forgot-pass-button{
  color: black;
  background-color: #ffffff;
  font-size: small;
  margin-bottom: 2%;
}

.modal-inputs {
  width: 400px;
}
