.add-playlist-page {
    background-color: #8fa6ac;
    height: auto;
    padding-bottom: 5%;
}

.add-playlist-title {
    margin-top: 3%;
    color: white;
    text-shadow: #293b3f 1px 0 10px;
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.playlist-name {
    margin-top: 1.5% !important;
    margin-bottom: 1.5%;
    text-align: center;
}

.playlist-name input {
    width: 70%;
    height: 60px;
    font-size: large;
    padding: 1%;
    border: 4px solid #293b3f  !important;
    border-radius: 8px;
}

.create-button-col {
    text-align: center;
}

.create-btn {
    /* margin: 1%; */
    margin: auto;
    background-color: white !important;
    color: #293b3f  !important;
    border: 4px solid #293b3f  !important;
    width: 140px;
    height: 70px;
    font-size: 1.3rem  !important;
    border-radius: 8px  !important;
    line-height: 45px  !important;
}

.create-btn:hover {
    /* margin: 1%; */
    background-color: #293b3f !important;
    color: white  !important;
    border: 4px solid white  !important;
    width: 140px;
    height: 70px;
    font-size: 1.3rem  !important;
    border-radius: 8px  !important;
    line-height: 45px  !important;
}

.table-list-div{
    background-color: #ededca;
    margin: auto;
    border: 4px solid #293b3f;
    border-radius: 10px;
    padding: 1.5%;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.table-top-header-title {
    margin-top: 1%;
    color: white;
    text-shadow: #293b3f 1px 0 10px;
    font-size: 2.2rem;
    font-family: "Montserrat", sans-serif;
    /* text-align: center; */
}

.table-top-title {
    /* margin-top: 1%; */
    color: #293b3f;
    text-shadow: white 1px 0 10px;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    /* text-align: center; */
}
