.signup-page {
  align-items: center;
  background-color: #f5eacf;
  width: 100%;
  height: 92vh;
}

.page-title {
  padding-top: 2em;
  padding-left: 6em;
  /* background-image: url("../../Images/lg2.png"); */
  background-repeat: no-repeat;
  background-size: 6.1em;
  font-style: oblique;
  text-align: left;
}

.signup-input {
  width: 400px !important;
  margin-top: 4%;
  margin-bottom: 4%;
}

.signup-group {
  font-style: oblique;
  font-weight: bold;
  margin: 2%;
  width: 20%;
  border: 20px;
}

.signup-form {
  /* background-color: #FFFFFF; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 50px;
  height: 50%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
