.user-nav {
    font-size: 20px;
    font-weight: bold;
    background-color: #8a584c;
    width: 100%;
    padding: 0;
    height: auto;
}

.navbar-brand {
    margin-left: 10px;
    margin-right: auto;
    width: 25%;
    /* border-radius: 50%; */
}

.logo {
    float: left;
    margin-left: 20px;
    font-weight: bold;
    display: flex;
    text-align: center;
}

.item-nav {
    margin-right: 12px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.the-brand {
    color: #f5eacf !important;
    font-size: 1.6rem !important;
}

.item-nav a {
    color: #f5eacf !important;
}